.tab {
	display: flex;
	border: none;
	background: transparent;
	align-items: center;
	justify-content: center;
	padding-bottom: 15px;
	margin-right: 10px;
	font-size: 15px;
}

.selected {
	border-bottom: #fa4549 2px solid;
	font-weight: 800;
}

.tabList {
	display: flex;
	list-style-type: none;
}
